@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply outline-none;
  }
}

@layer utilities {
  .gradient-btn {
    @apply font-bold rounded-2xl bg-gradient-to-tl from-rose-400 via-amber-300 to-lime-400 text-white transition hover:scale-90 cursor-pointer;
  }
}

@layer components {
  .hover-text {
    @apply hover:text-indigo-500 cursor-pointer font-bold;
  }
  .form-input {
    @apply border-4 rounded-lg p-2 font-bold border-emerald-400 w-full 
    placeholder:drop-shadow-lg invalid:border-rose-100 transition-colors;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
